<html>
  <head>
    <meta name="viewport" content="width=device-width,target-densitydpi=medium-dpi,initial-scale=1,minimum-scale=1,shrink-to-fit=no">
    <script src="../simid_protocol.js"> </script>
    <script src="base_simid_creative.js"> </script>
    <script src="jquery-3.5.1.min.js"> </script>
    <link type="text/css" rel="stylesheet" media="all" href="reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" media="all" href="test.css">
  </head>
  <body>
  <div class="simid_creative_wrapper" id="simid_creative">
    <p class="privacy"><a href="https://video.tv-tokyo.co.jp/personal/" target="_blank">プライバシーポリシー</a></p>
    <div v-for="(data, index) in all_data"  :key="index" >
      <div class="question">
        {{ data.question }}
      </div>
      <div class="options">
        <ul>
          <li v-for="(answer, index) in data.answers" :key="index" >{{ answer }}</li>
          <li id="button_skip">アンケートをスキップ</li>
        </ul>
      </div>
    </div>
  </div>
  <script src="axios.min.js"> </script>
  <script src="vue-2.5.min.js"> </script>
  <script src="promise-6.1.0.min.js"> </script>
  <script src="test.js"> </script>
  </body>
</html>
